[BASIC]
good-names=id,db

[MESSAGES CONTROL]
disable=
    missing-docstring,
    broad-exception-caught,
    too-few-public-methods,
    too-many-instance-attributes,
    too-many-arguments,
    too-many-locals,
    too-many-branches,
    fixme,
    R0801

[MASTER]
extension-pkg-whitelist=pydantic
